html{
    margin: 0px 0px 0px 0px;
}
body{
    margin: 0px 0px 0px 0px;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background: #333333;
    height: 80px;
    z-index:4;
    display: table;
}
nav {
    width:100%;
    display: flex;
    align-items: center;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #333333;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #333333;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #333333;
}	
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333333;
}
a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: #333333;
}
input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: 1px solid #c9c9c9;
    background-color: #f9f9f9;
    color: #333333;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}
input[type=button], input[type=submit], input[type=reset] {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #333333;
    color: #f9f9f9;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #b3b3b3;
    font-style:italic;
}
figure{
    width:80%;
}
.login{
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
}
.login-left{
    float: left;
    width: 47%;
    height: 100%;
    max-width:47%;
    max-height:100%;
    width: auto;
    height: auto;
    overflow: hidden;
}
.login-right{
    float: right;
    width: 48%;
    height: 100%;
    background-color: #f9f9f9;
    padding-left:5%;
    display: flex;
    align-items: center;
}
.container{
    background-color: #f9f9f9;
}
.container-content{
    width: 47%;
    height: 100%;
    margin: 0;
    padding: 30px;
    margin-top: 70px;	  
}

.dropbtn {
  background-color: #333333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  float: right;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #a8a8a8;
}